:root{
  --text-color:red;
  --background_color:pink;

}
button{
  height:100px;
  width: 300px;
  color:var(--text-color);
  background-color: var(--background_color);
}

input{
  margin-left: 30px;
  
}